{%  extends 'main.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Customer list</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Name</th>
							<th>Phone</th>
							<th>Email</th>
						</tr>

						{% for customer in customers %}
							<tr>
								<td>{{customer.name}}</td>
								<td>{{customer.phone}}</td>
								<td>{{customer.email}}</td>
							</tr>
						{% endfor %}

					</table>
				</div>
			</div>

		</div>

{% endblock content %}
