{% extends 'main.html' %}
{% load static %}
{% block content %}

    <div class="row">
        <div class ="col-md-6">
            <div class="card card-body">
            <h3> Import Tags CSV File</h3>
                
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                <input type="file" name="file" required >
            <a class="btn btn-warning" href="{% url 'tag' %}">Back</a>
                    <input type="submit" name="submit">
                </form>
            </div>
        </div>
    </div>


{% endblock content%}