<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<a href="{% url 'order_list' %}" class="text-decoration-none">
				<div class="card text-center text-white mb-3 bg-primary" id="total-orders">
					<div class="card-header">
						<h5 class="card-title">Total Orders</h5>
					</div>
					<div class="card-body">
						<h3 class="card-title">{{total_orders}}</h3>
					</div>
				</div>
			</a>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<a href="{% url 'order_list' %}?status=Pending" class="text-decoration-none">
				<div class="card text-center text-white mb-3 bg-warning" id="orders-pending">
					<div class="card-header">
						<h5 class="card-title">Orders Pending</h5>
					</div>
					<div class="card-body">
						<h3 class="card-title">{{orders_pending}}</h3>
					</div>
				</div>
			</a>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<a href="{% url 'order_list' %}?status=Out+for+delivery" class="text-decoration-none">
				<div class="card text-center text-white mb-3 bg-info" id="out-for-delivery">
					<div class="card-header">
						<h5 class="card-title">Out for Delivery</h5>
					</div>
					<div class="card-body">
						<h3 class="card-title">{{out_for_delivery}}</h3>
					</div>
				</div>
			</a>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<a href="{% url 'order_list' %}?status=Delivered" class="text-decoration-none">
				<div class="card text-center text-white mb-3 bg-success" id="orders-delivered">
					<div class="card-header">
						<h5 class="card-title">Orders Delivered</h5>
					</div>
					<div class="card-body">
						<h3 class="card-title">{{orders_delivered}}</h3>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>